@font-face{
    src: url(MinecraftRegular.ttf);
    font-family: header;
}
h1{
    font-family: header;
    font-size:xx-large;
    color: purple;
}
h2{
    font-family: header;
    font-size: larger;
}
p{
    font-family: header;
    font-size:x-small;
}
